# __EDA__

We import the libraries and create the dataframes.

In [16]:
import pandas as pd
import numpy as np

In [8]:
# The 4 csv are imported for create the dataframes

netflix=pd.read_csv("Datasets/amazon_prime_titles.csv")
hulu=pd.read_csv("Datasets/hulu_titles.csv")
disney_plus=pd.read_csv("Datasets/disney_plus_titles.csv")
amazon_prime=pd.read_csv("Datasets/amazon_prime_titles.csv")

. Create the __id__ field in each dataframe, which is composed of the first letter of the platform name  
. Create __platform__ field to have a better follow-up of which platform the row belongs to

In [18]:
#'id' field 
amazon_prime.insert(0,"id", ("a"+amazon_prime["show_id"]))

disney_plus.insert(0,"id", ("d"+disney_plus["show_id"]))

hulu.insert(0,"id", ("h"+hulu["show_id"]))

netflix.insert(0,"id", ("n"+amazon_prime["show_id"]))

In [33]:
#'platform' field
amazon_prime['platform']='amazonPrime'; disney_plus['platform']='disney'; netflix['platform']='netflix'; hulu['platform']='hulu'

.Now we concatenate all in a single dataframe using __concat()__ and reset the index.

In [34]:
DF_Proyect = pd.concat([amazon_prime, netflix, disney_plus, hulu], axis=0)

In [36]:
DF_Proyect.reset_index(drop=True, inplace=True)

In [39]:
DF_Proyect.sample(5)

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
12924,ns3257,s3257,Movie,Angel and the Badman,James Edward Grant,"John Wayne, Gail Russell, Harry Carey",NaN,NaN,1947,7+,100 min,"Action, Romance, Western","Quirt Evans, an all round bad guy, is nursed b...",netflix
6381,as6382,s6382,TV Show,Latin Flow (Original Spanish Audio),NaN,NaN,NaN,NaN,2021,TV-14,1 Season,Unscripted,Latin Flow is the story of 9 Colombian women. ...,amazonPrime
23320,hs2535,s2535,TV Show,Hard Sun,NaN,NaN,United Kingdom,"March 7, 2018",2018,TV-MA,1 Season,"Crime, Drama, International",Jim Sturgess and Agyness Deyn play detectives ...,hulu
9313,as9314,s9314,Movie,Nambiar (Hindi),Ganeshaa,"Srikanth, Santhanam, Sunaina",NaN,NaN,2016,13+,123 min,"Comedy, Drama, Science Fiction","Ramachandran, an IAS aspirant, keeps getting i...",amazonPrime
3835,as3836,s3836,Movie,Kevin Hart Presents: Lil Rel Howery - RELevent,"Rich Schlansker, Royale Watkins",Lil Rel,NaN,NaN,2015,18+,63 min,"Arts, Entertainment, and Culture, Comedy, Spec...","In Lil Rel Howery's first hour-long special, h...",amazonPrime

In [41]:
# Columns datatypes
DF_Proyect.dtypes

id              object
show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
platform        object
dtype: object

In [40]:
print("Dataset size: ",DF_Proyect.shape," and the duplicated data: ", DF_Proyect.duplicated().sum())

Dataset size:  (23859, 14)  and the duplicated data:  0

In [42]:
#Number of nulls in columns

DF_Proyect.isnull().sum().sort_values()

id                  0
show_id             0
type                0
title               0
release_year        0
listed_in           0
platform            0
description         4
duration          479
rating           1197
cast             5729
director         7707
date_added      19057
country         19664
dtype: int64