# __ETL__
MVP

We import the libraries and create the dataframes.

In [69]:
import pandas as pd

In [70]:
# The 4 csv are imported for create the dataframes

netflix=pd.read_csv("Datasets/amazon_prime_titles.csv")
hulu=pd.read_csv("Datasets/hulu_titles.csv")
disney_plus=pd.read_csv("Datasets/disney_plus_titles.csv")
amazon_prime=pd.read_csv("Datasets/amazon_prime_titles.csv")

In [71]:
netflix.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...

In [72]:
hulu.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...

In [73]:
disney_plus.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.

In [74]:
amazon_prime.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...

. Create the __id__ field in each dataframe, which is composed of the first letter of the platform name  
. Create __platform__ field to have a better follow-up of which platform the row belongs to

In [75]:
#'id' field 
amazon_prime.insert(0,"id", ("a"+amazon_prime["show_id"]))

disney_plus.insert(0,"id", ("d"+disney_plus["show_id"]))

hulu.insert(0,"id", ("h"+hulu["show_id"]))

netflix.insert(0,"id", ("n"+amazon_prime["show_id"]))

In [76]:
#'platform' field
amazon_prime['platform']='amazonPrime'; disney_plus['platform']='disney'; netflix['platform']='netflix'; hulu['platform']='hulu'

.Now we concatenate all in a single dataframe using __concat()__ and reset the index.

In [77]:
DF_Proyect = pd.concat([amazon_prime, netflix, disney_plus, hulu], axis=0)

In [78]:
DF_Proyect.reset_index(drop=True, inplace=True)

In [79]:
DF_Proyect.sample(5)

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
19867,ds532,s532,Movie,John Carter,Andrew Stanton,"Taylor Kitsch, Lynn Collins, Samantha Morton, ...",United States,"May 2, 2020",2012,PG-13,134 min,"Action-Adventure, Family, Fantasy",A former military captain is inexplicably tran...,disney
19957,ds622,s622,TV Show,Fairy Tale Weddings,NaN,"Stephen Boss, Allison Holker",United States,"February 14, 2020",2017,TV-PG,2 Seasons,"Docuseries, Family, Lifestyle",A behind-the-scenes look at Disney's magical w...,disney
15239,ns5572,s5572,Movie,"Little Baby Bum - Learn Colors, Shapes and Num...",Cannis Holder,"Grace Tamayo, Erin Webbs",NaN,NaN,2020,ALL,36 min,Kids,"Little Baby Bum is a fun, educational children...",netflix
3770,as3771,s3771,Movie,Silent Trigger,Russell Mulcahy,"Dolph Lundgren, Gina Bellman, Conrad Dunn",NaN,NaN,1996,R,94 min,"Action, Drama, Suspense",Waxman is a former Special Forces soldier who ...,amazonPrime
14805,ns5138,s5138,Movie,The Engagement Ring,Steven Schachter,"Patricia Heaton, Vincent Spano, Tony Lo Bianco...",NaN,NaN,2005,NaN,91 min,"Comedy, Drama",A long-lost engagement ring still divides chil...,netflix

In [80]:
# Columns datatypes
DF_Proyect.dtypes

id              object
show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
platform        object
dtype: object

In [81]:
print("Dataset size: ",DF_Proyect.shape," and the duplicated data: ", DF_Proyect.duplicated().sum())

Dataset size:  (23859, 14)  and the duplicated data:  0

In [82]:
#Number of nulls in columns

DF_Proyect.isnull().sum().sort_values()

id                  0
show_id             0
type                0
title               0
release_year        0
listed_in           0
platform            0
description         4
duration          479
rating           1197
cast             5729
director         7707
date_added      19057
country         19664
dtype: int64

.We replace the null values with __'G'__ in the rating field (maturity rating: “general for all audiences”)  
.Change to __lowercase__ all the fields content

In [83]:
DF_Proyect.rating.fillna('g', inplace=True)

In [84]:
#All the strings in the dataframe to lowercase

DF_Proyect['type'] = DF_Proyect['type'].str.lower()
DF_Proyect['title'] = DF_Proyect['title'].str.lower()
DF_Proyect['director'] = DF_Proyect['director'].str.lower()
DF_Proyect['cast'] = DF_Proyect['cast'].str.lower()
DF_Proyect['country'] = DF_Proyect['country'].str.lower()
DF_Proyect['date_added'] = DF_Proyect['date_added'].str.lower()
DF_Proyect['rating'] = DF_Proyect['rating'].str.lower()
DF_Proyect['listed_in'] = DF_Proyect['listed_in'].str.lower()
DF_Proyect['description'] = DF_Proyect['description'].str.lower()
DF_Proyect['platform'] = DF_Proyect['platform'].str.lower()

.Duration --> __Duration_type__, __Duration_int__  

.We __convert__ the __date_added__ field to __datetime(Y/m/d)__

In [85]:
#Convert all the elements of duration in str, now we split in two duration, duration_int(integer) and duration_type(string)
DF_Proyect['duration']=DF_Proyect['duration'].astype(str)

DF_Proyect['duration_int']= DF_Proyect['duration'].apply(lambda x:x.split()[0])
DF_Proyect['duration_type']=DF_Proyect['duration'].apply(lambda x:str(x.split()[1:]))
DF_Proyect['duration_type'] = DF_Proyect['duration_type'].apply(lambda x: x.replace("['min']",'min')) 
DF_Proyect['duration_type'] = DF_Proyect['duration_type'].apply(lambda x: x.replace("['Seasons']",'season')) 
DF_Proyect['duration_type'] = DF_Proyect['duration_type'].apply(lambda x: x.replace("['Season']",'season')) 

#Remove duration column
DF_Proyect=DF_Proyect.drop(['duration'], axis=1)

In [86]:
#Now we convert to datetime "date_added" and we change to the format YYYY-MM-DD
DF_Proyect["date_added"] = pd.to_datetime(DF_Proyect['date_added'], errors='coerce')
DF_Proyect['date_added'] = DF_Proyect['date_added'].dt.strftime("%Y-%m-%d")

In [87]:
#DF_Proyect.to_csv("Datasets/DF_MoviesAndSeries.csv",index=False)

__2) Movie Rating__

In [88]:
# We load the datasets
d1 = pd.read_parquet("Datasets/ratings/1.gzip")
d2 = pd.read_parquet("Datasets/ratings/2.gzip")
d3 = pd.read_parquet("Datasets/ratings/3.gzip")
d4 = pd.read_parquet("Datasets/ratings/4.gzip")
d5 = pd.read_parquet("Datasets/ratings/5.gzip")
d6 = pd.read_parquet("Datasets/ratings/6.gzip")
d7 = pd.read_parquet("Datasets/ratings/7.gzip")
d8 = pd.read_parquet("Datasets/ratings/8.gzip")

In [89]:
# Concatenate the dataframes
df_todos = [d1,d2,d3,d4,d5,d6,d7,d8]
DF_ratings_all = pd.concat(df_todos)

In [90]:
# Reset index
DF_ratings_all.reset_index(drop=True, inplace=True)

In [91]:
# We create a dataframe where we get the mean ratings of the users per movie
DF_scoreprom = pd.DataFrame(DF_ratings_all.groupby(['movieId'],as_index=False)['rating'].mean())

In [92]:
# Reset index
DF_scoreprom.reset_index(drop=True)

      movieId    rating
0         as1  3.467131
1        as10  3.439571
2       as100  3.609302
3      as1000  3.556701
4      as1001  3.585288
...       ...       ...
22993   ns995  3.515625
22994   ns996  3.626518
22995   ns997  3.530526
22996   ns998  3.582645
22997   ns999  3.494781

[22998 rows x 2 columns]

In [98]:
DF_scoreprom['userId']= DF_ratings_all['userId']

In [106]:
DF_scoreprom.head(4)

   userId movieId    rating
0       1     as1  3.467131
1       1    as10  3.439571
2       1   as100  3.609302
3       1  as1000  3.556701

In [100]:
# sort columns position
DF_scoreprom = DF_scoreprom[['userId','movieId','rating']]

In [101]:
#Merge the 2 data frames
df_r = pd.merge(left=DF_Proyect, right=DF_scoreprom, how='left', left_on='id', right_on='movieId')

In [102]:
# Drop the movieid column
df_r.drop(columns='movieId', inplace=True)

In [105]:
#Now we export it in parquet format
#df_r.to_parquet('DF.parquet')

In [103]:
df_r.sample(10)

,id,show_id,type,title,director,cast,country,date_added,release_year,rating_x,listed_in,description,platform,duration_int,duration_type,userId,rating_y
9803,ns136,s136,movie,western gold,howard bretherton,"smith ballew, heather angel, leroy mason, howa...",NaN,NaN,1937,18+,"military and war, western",union soldier bill gibson (ballew) is personal...,netflix,56,min,176.0,3.619256
4056,as4057,s4057,movie,manhunt: search for the night stalker,bruce seth green,"richard jordan, a martinez, julie carmen, alan...",united states,NaN,1989,16+,"documentary, suspense","in 1985, richard ramirez terrorized california...",amazonprime,95,min,41.0,3.552738
11330,ns1663,s1663,movie,mind over murder,ivan nagy,"deborah raffin, david ackroyd",NaN,NaN,1979,nr,suspense,a young woman begins to have nightmares where ...,netflix,89,min,181.0,3.557411
430,as431,s431,movie,the super simple show - halloween,"matt servo, troy mcdonald, laurel dalgleish, b...","andy hayward, matt servo, caitlin claessens, t...",NaN,NaN,2019,all,kids,the super simple show is a compilation of supe...,amazonprime,44,min,43.0,3.603950
2967,as2968,s2968,movie,brent weinbach: appealing to the mainstream,jay chapman,brent weinbach,NaN,NaN,2017,18+,"arts, entertainment, and culture, comedy, spec...","brent weinbach is weird. in this show, brent a...",amazonprime,69,min,24.0,3.477371
13100,ns3433,s3433,movie,a christmas kiss ii,kevin connor,"elisabeth harnois, adam mayfield, elisabeth ro...",NaN,NaN,2015,7+,comedy,jenna kingston didn't expect to be swept off h...,netflix,89,min,218.0,3.515337
16002,ns6335,s6335,movie,eagles attack at dawn,m. golan,"rick jason, peter brown",NaN,NaN,1970,13+,"action, drama",israeli prisoners of war who escape from a not...,netflix,96,min,231.0,3.530983
4295,as4296,s4296,movie,bank alarm,louis j. gasnier,"conrad nagel, eleanor hunt, vince barnett, whe...",NaN,NaN,1937,pg-13,"drama, suspense",federal agents alan o'connor (nagel) and bobbi...,amazonprime,64,min,43.0,3.560277
22109,hs1324,s1324,tv show,the purge,NaN,NaN,united states,2020-10-15,2018,tv-ma,"action, drama, horror","once a year, any and all crime – including mur...",hulu,2,season,132.0,3.465479
20623,ds1288,s1288,movie,the hunchback of notre dame ii,bradley raymond,"jason alexander, jennifer hewitt, tom hulce, p...",united states,2019-11-12,2002,g,"action-adventure, animation, family",it's quasimodo's turn to look past appearances...,disney,69,min,120.0,3.553996